.shadow
{
	width: 900px;
	height: 100%;
	top: 930px;
	background: url('images/shadow.png') repeat-x top;
	position: absolute;
}

.arrow
{
	width: 900px;
	height: 100%;
	top: 930px;
	background: url('images/top.png') no-repeat top center;
	position: absolute;
}

.line
{
	width: 900px;
	height: 100%;
	top: 930px;
	background: url('images/line.png') repeat-x top;
	position: absolute;
}