body
{
	text-align: center;
}

#main_wrapper
{
	text-align: left;
}
footer
{
    background:url('images/yellow_background.png') repeat-x bottom;
    position: relative;
    height:115px;
}
.arrow
{
	height: 100%;
}