nav li, .red_button,#tweet, #my_pictures, #my_friends, #my_friends ul,#logo, header h1, article, aside {
    display: inline;
    zoom:1
}
section h3{
    display: none;
}
header{
    background:url('images/line.png') repeat-x bottom;
    position: relative;
}
.shadow, .arrow, .line
{
    top: 860px;
}

.first, .second
{
    display: inline-block;
    vertical-align: middle;
}