body
{
	text-align: center;
}

#main_wrapper
{
	text-align: left;
}
footer
{
    background: none;
}
.arrow
{
	height: 50px;
}

aside
{
	width: 245px;
}
article
{
    width:615px;
    margin-right: 15px;
}